.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @media (max-width: 599px) {
    padding: 20px 10px; // Reducido para móviles
  }

  img {
    width: 100px;
    margin-bottom: 20px;
  }
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--color-texto); // Changed color to institutional green
}

.validation-message {
  color: var(--color-error); // Institutional red
  margin-bottom: 10px;
  font-weight: bold;
}

.validation-message.animate-message {
  animation: growShrink 1s ease-in-out; // Changed duration to 1s
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

form {
  width: 97%; // Ajustado para móviles
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;

  @media (min-width: 600px) {
    width: 80%; // Vuelve al 80% para escritorio
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .full-width-desktop {
      grid-column: 1 / -1;
    }
  }
}

/* Ensure form fields take full width within their grid cell */
mat-form-field {
  width: 100%;
}

/* Make specific fields span two columns if needed, e.g., the submit button */
button[mat-raised-button] {
  font-size: 1.2rem;
  grid-column: 1 / -1; // Make button span all columns
  color: var(--color-resalte); // Changed text color to institutional green
}

/* Styling for fields on a submitted form */
form.form-submitted {
  /* Target invalid fields within the submitted form */
  .mat-form-field.ng-invalid {
    .mat-mdc-text-field-wrapper {
      border: 2px solid var(--color-error);
    }
    /* Force the outline/underline color to the error color */
    .mdc-notched-outline {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-color: var(--color-error) !important;
      }
    }
    .mdc-line-ripple::after {
      border-bottom-color: var(--color-error) !important;
    }

    /* Make the label red as well */
    .mat-mdc-floating-label {
      color: var(--color-error) !important;
    }
  }

  /* Optional: Style valid fields on a submitted form */
  .mat-form-field.ng-valid {
    .mdc-notched-outline {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-color: var(--color-resalte) !important;
      }
    }
    .mdc-line-ripple::after {
      border-bottom-color: var(--color-resalte) !important;
    }
  }
}

